service3_xml_service/src/xml/schema_v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">

  <xs:element name="Request">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="Countries">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="Country" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Region" type="xs:string"/>

                    <xs:element name="CostOfLiving">
                      <xs:complexType>
                        <xs:attribute name="index" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="Population" type="xs:long"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="mapper" type="xs:string" use="required"/>

    </xs:complexType>
  </xs:element>

</xs:schema>
